logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-neutralino
src-tauri/target
*.local

.vscode/*
.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.history
/.cache
*.tsbuildinfo
/build/*
!/build/server.d.ts
functions/build/
.env.local
.env
.dev.vars
*.vars
.wrangler
_worker.bundle
vite.config.ts.timestamp-*.mjs

Modelfile
modelfiles

# docs ignore
site

# commit file ignore
app/commit.json
changelogUI.md
docs/instructions/Roadmap.md
.cursorrules
.qodo
.playwright-installed
